/* Brown font */
@font-face {
  font-family: 'Brown';
  src: url("../assets/fonts/lineto-brown-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../assets/fonts/lineto-brown-thin-italic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../assets/fonts/lineto-brown-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../assets/fonts/lineto-brown-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../assets/fonts/lineto-brown-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../assets/fonts/lineto-brown-regular-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Brown';
  src: url("../assets/fonts/lineto-brown-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Brown';
  src: url("../assets/fonts/lineto-brown-bold-italic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

body {
  background-image: url(../assets/img/Background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Brown","Helvetica","Arial",sans-serif; }
  body .header {
    width: 100%;
    top: 0;
    z-index: 8; }
  body #fm-logo {
    position: absolute;
    left: 1%;
    top: 20px; }
    @media only screen and (max-width: 1023px) {
      body #fm-logo {
        width: 30px; } }
  body #amex-logo {
    position: absolute;
    right: 2%;
    top: 20px; }
    @media only screen and (max-width: 1023px) {
      body #amex-logo {
        width: 130px; } }
  body .nav {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase; }
    body .nav .nav-link {
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      cursor: pointer; }
      body .nav .nav-link .nav-link-text.link-active {
        border-bottom: 4px solid white;
        padding-bottom: 3px;
        max-width: 100px; }
      body .nav .nav-link #home-button {
        width: 30px;
        margin-top: 30px; }
  body .section-container {
    margin-top: 80px; }
    body .section-container #section-home #home-london-house-logo {
      margin-top: 5%;
      width: 35%;
      float: right;
      margin-right: 10%; }
    body .section-container section.hide {
      display: none; }
    body .section-container #section-classes {
      margin-top: -60px; }
      body .section-container #section-classes .classes-container {
        width: 80%;
        margin: auto;
        background-color: white;
        text-align: center;
        position: relative;
        padding-bottom: 80px;
        margin-top: 120px; }
        body .section-container #section-classes .classes-container .classes-header {
          font-size: 28px;
          text-transform: uppercase;
          padding-top: 40px;
          letter-spacing: 2px;
          font-weight: 400; }
          @media only screen and (max-width: 1023px) {
            body .section-container #section-classes .classes-container .classes-header {
              margin-right: 20%;
              margin-left: 20%; } }
        body .section-container #section-classes .classes-container .classes-subcopy {
          margin-right: 12%;
          margin-left: 12%;
          font-size: 18px;
          font-weight: 300;
          margin-bottom: 40px; }
          @media only screen and (max-width: 1023px) {
            body .section-container #section-classes .classes-container .classes-subcopy {
              margin-left: 5%;
              margin-right: 5%; } }
        body .section-container #section-classes .classes-container .classes-inner-contianer {
          border: 2px solid black;
          width: 80%;
          margin: auto; }
          @media only screen and (max-width: 1023px) {
            body .section-container #section-classes .classes-container .classes-inner-contianer {
              text-align: left; }
              body .section-container #section-classes .classes-container .classes-inner-contianer .classes-upper-copy-container {
                margin-left: 20px; } }
          body .section-container #section-classes .classes-container .classes-inner-contianer .location-copy {
            font-weight: 400;
            margin-top: 20px;
            font-size: 20px;
            margin-bottom: 10px;
            text-transform: uppercase; }
          body .section-container #section-classes .classes-container .classes-inner-contianer .location-name {
            font-weight: 300;
            font-size: 22px; }
            @media only screen and (max-width: 1024px) {
              body .section-container #section-classes .classes-container .classes-inner-contianer .location-name {
                font-size: 18px;
                margin-bottom: 40px; } }
          body .section-container #section-classes .classes-container .classes-inner-contianer .schedule-copy {
            font-weight: 400;
            margin-top: 40px;
            font-size: 20px;
            padding-bottom: 20px;
            text-transform: uppercase; }
            @media only screen and (max-width: 1024px) {
              body .section-container #section-classes .classes-container .classes-inner-contianer .schedule-copy {
                width: 100%;
                display: block;
                margin-top: 10px;
                padding-bottom: 10px; } }
          body .section-container #section-classes .classes-container .classes-inner-contianer .classes-schedule-container {
            display: flex;
            margin-top: 20px;
            font-weight: 400;
            justify-content: space-between;
            padding-left: 100px;
            padding-right: 100px; }
            @media only screen and (max-width: 1500px) {
              body .section-container #section-classes .classes-container .classes-inner-contianer .classes-schedule-container {
                margin-top: 0;
                padding-left: 20px;
                padding-right: 20px; } }
            @media only screen and (max-width: 1024px) {
              body .section-container #section-classes .classes-container .classes-inner-contianer .classes-schedule-container {
                flex-wrap: wrap;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 30px; } }
            body .section-container #section-classes .classes-container .classes-inner-contianer .classes-schedule-container .class-schedule-day-column {
              font-size: 18px;
              display: inline-block;
              width: 250px;
              vertical-align: top;
              text-align: left;
              padding-bottom: 90px;
              font-weight: 300; }
              @media only screen and (max-width: 1400px) {
                body .section-container #section-classes .classes-container .classes-inner-contianer .classes-schedule-container .class-schedule-day-column {
                  width: 100%;
                  display: block;
                  font-size: 16px; } }
              @media only screen and (max-width: 1023px) {
                body .section-container #section-classes .classes-container .classes-inner-contianer .classes-schedule-container .class-schedule-day-column {
                  width: 100%;
                  padding-bottom: 40px;
                  font-size: 18px; } }
              body .section-container #section-classes .classes-container .classes-inner-contianer .classes-schedule-container .class-schedule-day-column .class-schedule-day-name {
                font-weight: 400; }
              body .section-container #section-classes .classes-container .classes-inner-contianer .classes-schedule-container .class-schedule-day-column .class-schedule-day-time {
                margin-top: 15px; }
      body .section-container #section-classes #schedule-booknow-button {
        width: 300px;
        height: 50px;
        color: white;
        background-color: #383838;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        display: block;
        margin: auto;
        margin-top: -25px; }
        @media only screen and (max-width: 1023px) {
          body .section-container #section-classes #schedule-booknow-button {
            position: relative;
            width: 180px;
            height: 35px;
            background-color: #383838;
            display: block;
            margin-left: 20%;
            margin-top: -50px; } }
    body .section-container #section-london-diaries {
      clear: both; }
      body .section-container #section-london-diaries .london-diaries-container {
        width: 45%;
        background-color: white;
        float: right;
        margin-right: 100px;
        margin-bottom: 20px;
        padding: 30px 30px 25px;
        margin-top: -20px; }
        @media only screen and (max-width: 1023px) {
          body .section-container #section-london-diaries .london-diaries-container {
            width: 70%;
            float: none;
            margin-left: auto;
            margin-right: auto; } }
        body .section-container #section-london-diaries .london-diaries-container .london-diaries-headline {
          text-transform: uppercase;
          font-size: 24px;
          margin-bottom: 20px;
          letter-spacing: 1.5px; }
        body .section-container #section-london-diaries .london-diaries-container .london-diaries-subcopy {
          font-weight: 300;
          margin-bottom: 10px; }
        body .section-container #section-london-diaries .london-diaries-container .london-diaries-thumbnails .thumbnail {
          padding-top: 20px;
          width: 100%;
          display: table;
          clear: both; }
          body .section-container #section-london-diaries .london-diaries-container .london-diaries-thumbnails .thumbnail .thumbnail-image {
            width: 28%;
            height: 140px;
            display: table-cell;
            vertical-align: top; }
            body .section-container #section-london-diaries .london-diaries-container .london-diaries-thumbnails .thumbnail .thumbnail-image img {
              width: 270px; }
          body .section-container #section-london-diaries .london-diaries-container .london-diaries-thumbnails .thumbnail .thumbnail-copy-container {
            padding-top: 20px;
            display: table-cell;
            width: 67%;
            padding-left: 2%;
            position: relative; }
            body .section-container #section-london-diaries .london-diaries-container .london-diaries-thumbnails .thumbnail .thumbnail-copy-container span {
              font-weight: bold; }
            body .section-container #section-london-diaries .london-diaries-container .london-diaries-thumbnails .thumbnail .thumbnail-copy-container .thumbnail-copy-learnmore {
              margin-top: 10%; }
