body {
  background-image: url(../assets/img/Background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: absolute;

  font-family:"Brown","Helvetica","Arial",sans-serif;

  #fm-logo {
    position: absolute;
    top: 15px;
  }

  #amex-logo {
    position: absolute;
    right: 1%;
    top: 15px;

  }

  .nav {

    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;

    .nav-link {
      color: white;
      padding-left:20px;
      padding-right:20px;
      cursor: pointer;

      #home-button{
        width: 40px;
      }

    }

  }

  .section-container {

    #section-home {

      #home-london-house-logo {
        margin-top: 5%;
        width: 35%;
        float:right;
      }

    }

    #section-classes {

      .classes-container {
        width: 80%;
        margin: auto;
        background-color: white;
        text-align: center;
        position: relative;
        height: 600px;

        .classes-header {
          font-size: 24px;
          text-transform: uppercase;
          padding-top: 40px;
        }

        .classes-subcopy {
        }

        .classes-inner-contianer {

          border: 2px solid black;
          width: 80%;
          margin: auto;
          height: 400px;

          .schedule-copy {

            font-size: 18px;

          }

          .location-copy {

            font-size: 18px;

          }

          .classes-schedule-container {

            display: block;
            grid-column-gap: 50px;
            grid-row-gap: 50px;

            margin-bottom: 20px;


            .class-schedule-day-column {
              width: 30%;
              display: inline;

            }

          }

        }

        #schedule-booknow-button {
          width: 300px;
          height: 50px;
          color: white;
          background-color: gray;
          font-size: 18px;
          text-transform: uppercase;
          position: absolute;
          margin-top: -25px;
          margin-left: -150px;
        }

      }

    }

    #section-london-diaries {

      .london-diaries-container {

        width: 45%;
        height: 770px;
        background-color: white;
        float: right;
        margin-top: 40px;
        margin-right: 30px;
        padding: 30px;

        .london-diaries-headline {

          text-transform: uppercase;
          font-size: 24px;
          margin-bottom: 20px;

        }

        .london-diaries-subcopy {

        }

        .london-diaries-thumbnails {

        }


      }

    }


  }


}
