body {
  background-image: url(../assets/img/Background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  font-family:"Brown","Helvetica","Arial",sans-serif;
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 8;
    background-color: #0191bd
  }
  #fm-logo {
    position: absolute;
    top: 15px;
  }

  #amex-logo {
    position: absolute;
    right: 1%;
    top: 15px;

  }

  .nav {

    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;

    .nav-link {
      color: white;
      padding-left:20px;
      padding-right:20px;
      cursor: pointer;

      #home-button{
        width: 40px;
      }

    }

  }

  .section-container {
    margin-top: 80px;
    #section-home {

      #home-london-house-logo {
        margin-top: 5%;
        width: 35%;
        float:right;
      }

    }

    #section-classes {

      .classes-container {
        width: 80%;
        margin: auto;
        background-color: white;
        text-align: center;
        position: relative;
        height: 600px;

        .classes-header {
          font-size: 24px;
          text-transform: uppercase;
          padding-top: 40px;
        }

        .classes-subcopy {
        }

        .classes-inner-contianer {

          border: 2px solid black;
          width: 80%;
          margin: auto;
          height: 400px;


          .location-copy {
            margin-top: 20px;
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: bold;

          }

          .schedule-copy {
            margin-top: 20px;
            font-size: 18px;
            padding-bottom: 20px;
            font-weight: bold;


          }

          .classes-schedule-container {
            display:inline;
            margin-top: 20px;

            .class-schedule-day-column {
              display: inline-block;
              width: 230px;
              height: 300px;
              margin-right: 10px;
              vertical-align: top;

              &#column-1 {

              }

              &#column-2 {

              }

              &#column-3 {

              }

            }

          }

        }

        #schedule-booknow-button {
          width: 300px;
          height: 50px;
          color: white;
          background-color: gray;
          font-size: 18px;
          text-transform: uppercase;
          position: absolute;
          margin-top: -25px;
          margin-left: -150px;
        }

      }

    }

    #section-london-diaries {
      clear:  both;
      .london-diaries-container {

        width: 45%;
        background-color: white;
        float: right;
        margin-top: 40px;
        margin-right: 30px;
        margin-bottom: 20px;
        padding: 30px 30px 10px;

        .london-diaries-headline {

          text-transform: uppercase;
          font-size: 24px;
          margin-bottom: 20px;

        }

        .london-diaries-subcopy {

        }

        .london-diaries-thumbnails {

          .thumbnail {
            padding-top: 20px;
            width: 100%;
            display: table;
            clear: both;

            .thumbnail-image {

              width: 30%;
              height: 150px;
              background-color: gray;
              display: table-cell;
              vertical-align: top;
            }

            .thumbnail-copy-container {
              display: table-cell;
              width: 67%;
              padding-left: 2%; 
              position: relative;
              span {
               font-weight: bold;
              }
              .thumbnail-copy-main {

              }

              .thumbnail-copy-learnmore {
                position: absolute;
                bottom: 0;
              }


            }


          }


        }


      }

    }


  }


}
