@font-face {
  font-family: 'BrownStd-Regular';
  src: url('../fonts/BrownStd/BrownStd-Regular.otf');
}
@font-face {
  font-family: 'BrownStd-Light';
  src: url('../fonts/BrownStd/BrownStd-Light.otf');
}
