@import '~bulma/bulma';
@import 'fonts';
@import 'colors';
html,
body {
  font-family: 'BrownStd-Regular', Helvetica, Arial, sans-serif;
  color: $darkGray;
  font-size: 16px;
}

.title {
  letter-spacing: 0.1em;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 25px;
  }
}

.subtitle {
  font-size: 16px;
  line-height: 1.5em;
  @media screen and (max-width: $tablet) {
    font-size: 14px;
  }
}

.card {
  box-shadow: none;
  border: 1px solid $medGray;
}

.container {
  padding-bottom: 2rem;
}
